:root{
    --primary-text-color:#000000;
    --akcent-text-color: #2196F3;
    --paragraph-text-color:#757575;
    --alternative-text-color:#FFFFFF;
    --backround-color:#FFFFFF;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
ul,
ol {
    margin: 0;
    padding-left: 0;
}
button {
    cursor: pointer;
}
address {
    font-style: normal;
}
img {
    display: block;
}
body{
font-family: 'Roboto', sans-serif;
color:var(--primary-text-color);

}
.main-container{
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--backround-color);
}
.container-nav{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}
.container-benefits,
.container-activity,
.container-team,
.container-footer,
.container-portfolio{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.list{
    list-style-type: none;  
}
/*--header style-*/
.link-logo{
padding-top: 22px;
padding-bottom: 25px;
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--akcent-text-color); 
text-decoration: none;  
}
.logo-piece{
color: var(--primary-text-color);  
}
.header{

}
.header-link{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--primary-text-color);
}
.header-link.current{
    color:var(--akcent-text-color)
}
.contacts-item+.contacts-item{
    margin-left: 50px;
}
.contacts-link{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:var(--paragraph-text-color);
    text-decoration: none;
}
.header-link:hover,
.address-link:hover,
.contacts-link:hover,
.footer-link:hover{
    color:var(--akcent-text-color);
}
.header-link:focus,
.address-link:focus,
.contacts-link:focus{
    color:var(--akcent-text-color);  
}
.container-nav{
    display: flex;
    align-items: center;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.header-navigation{
    display: flex;
}
.header-contacts{
display: flex;
margin-left: auto;
}
.header-list{
    display: flex;
    margin-left: 90px;
}
.header-item:not(:last-child){

    margin-right: 50px;
}
.header-portfolio{
    border-bottom: 1px solid rgb(245, 244 ,250);
}
/*main style*/
.hero{
    background-color:#2F303A; 
    text-align: center; 
}
.hero-title{
    padding-top:200px;
    padding-left: 452px;
    padding-right: 452px;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color:var(--alternative-text-color);
}
.hero-btn{
        display: inline-block;
        padding: 10px 32px;
        margin-bottom: 200px;
        border: none;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        font-family: inherit;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.06em;
        color: var(--alternative-text-color);
        background-color: var(--akcent-text-color);
}
.hero-btn:hover,
.hero-btn:focus{
background-color: #188CE8;
}

/*--benefits style*/

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.benefits-list {
    display: flex;
    padding-top: 94px;
    padding-bottom: 94px;
}
.benefits-item{
    width: 270px;
}
.benefits-item +.benefits-item{
    margin-left: 30px;
}

.benefits-title{
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
color:var(--primary-text-color);
}
.benefits-txt{
padding-top: 10px;
line-height: 1.71;
color:var(--paragraph-text-color) ;
}

.activity-title{
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
}
.activity-list {
    display: flex;
}
.activity-item{
    width: 370px;
    
    padding-bottom: 94px;
}
.activity-item+.activity-item {
    margin-left: 30px;
}
.activity-img{
    height: 294px;
}
.team{
    background-color:#F5F4FA;
}
.team-list{
    display: flex;
    
}
.team-item{
    background-color:var(--backround-color) ;
    width: 270px;
    height: 368px;
    margin-bottom: 57px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team-item+.team-item{
    margin-left: 30px;
}
.team-title{
    padding-top: 94px;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}
.member-img{
    margin-bottom: 30px;
}
.team-member{
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--primary-text-color);
}
.team-txt{
    padding-bottom: 30px;
line-height: 1.19;
letter-spacing: 0.03em;
text-align: center;
color: var(--paragraph-text-color);
}
.footer{
background-color:#2F303A ;
}
.container-footer{
    padding-top: 50px;
    border: 1px;
}
.logo-piece-footer{
color:var(--alternative-text-color);
}
.address-list{
    padding-top: 20px;
    padding-bottom: 60px;
}
.address-item:not(:last-child){
    margin-bottom: 9px;
}
.address-link {
 font-size: 14px;
 line-height: 1.71;
 letter-spacing: 0.03em;
 color: var(--alternative-text-color);
 text-decoration: none;
}
.footer-link{
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
text-decoration: none;
}
.filter-list{
    display: flex;
    justify-content: center;
    padding-top: 94px;
    padding-bottom: 34px;
    gap: 8px;
}
.filter-link{
display: block;
border: none;
padding: 6px 22px;
background-color:#F5F4FA ;
font-family:inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
color:var(--primary-text-color)
}
.filter-link:hover,
.filter-link:focus{
    color:var(--alternative-text-color);
    background-color:var(--akcent-text-color);
}

.portfolio-title{
    padding-left: 24px;
    padding-top: 20px;
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em; 
}
.portfolio-txt{
    padding-left: 24px;
    padding-bottom: 20px;
line-height: 1.88;
letter-spacing: 0.03em;
color: var(--paragraph-text-color);
}
.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 94px;
}
.portfolio-item{
    margin-right: 30px;
    margin-bottom: 30px;
    
    }
.portfolio-item:nth-child(3n){
    margin-right: 0;
}
.portfolio-item:nth-last-child(-n+3){
    margin-bottom: 0;
}
.txt-box{
    border: 1px solid #F5F4FA ; 
    border-top: none;
}
